@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Press";
    src: url('/assets/fonts/PressStart2P.ttf');
}
@font-face {
    font-family: "ibm";
    src: url(/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}
